@page
@model IndexModel
@{
    ViewData["Title"] = "Página do ALUNO";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Continue se esforçando e alcançará grandes resultados!</p>
</div>
